.blockStatus{
	background-color: blue;
	width: 100%;
	max-height: 30%;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10%;
}
.btn{
  		width: 100%;
  		height: 20%;
  		margin-top: 5%;
      color: black;
  	}

.gif{
  max-height: 30%;
  width: 100%;
}
.apercu{
  background-color: #0066ff;
  color: black;
}
.depart{
  background-color: #009933;
}
.rappel_g{
  background-color: #cc33ff;
}
.rappel_i{
  background-color: #ff9999;
}
.annulation{
  background-color: #cc0000;
}
.modification{
  background-color: #ff9900;
}
.panel{
  margin-top: 5%;
}
.panel-heading{  
  text-align: center;
  color: black;
  font: 35px arial;
}
.led1{
  margin:0;
  margin-left: 10%;
  position:relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em; 
  background: #ff0000; 
  border-radius: 50%; 
  vertical-align: middle; 
  mix-blend-mode: hard-light;
}
.led2{
  margin:0;
  margin-left: 10%;
  position:relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em; 
  background: #3366ff; 
  border-radius: 50%; 
  vertical-align: middle; 
  mix-blend-mode: hard-light;
}
.led3{
  margin:0;
  margin-left: 10%;
  position:relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em; 
  background: #66ff33; 
  border-radius: 50%; 
  vertical-align: middle; 
  mix-blend-mode: hard-light;
}
.led4{
  margin:0;
  margin-left: 10%;
  position:relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em; 
  background: #ffff00; 
  border-radius: 50%; 
  vertical-align: middle; 
  mix-blend-mode: hard-light;
}
.petitSon{
  margin:0;
  margin-left: 10%;
  position:relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em; 
  color: #ff0000; 
  vertical-align: middle; 
}
.grandSon{
  margin:0;
  margin-left: 10%;
  position:relative; 
  display: inline-block; 
  width: 1em; 
  height: 1em; 
  color: #ff0000; 
  vertical-align: middle; 
}